{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Sent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
    <style>
        #passsent{
        width: 500px;
        height: 100px;
        position: center;
        padding-top: 100px;
        bottom: 1000;
        left: 100px;
        right: 0;
        margin: auto;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
        }
    </style>
 <div id = "passsent">
    <h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>

<a href="/" class="btn btn-primary">Log in</a>
 </div>
</body>
</html>


{% endblock %}