{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Sent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
    <style>
        #passsent{
        width: 500px;
        height: 100px;
        position: center;
        padding-top: 100px;
        bottom: 1000;
        left: 100px;
        right: 0;
        margin: auto;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
        }
    </style>
 <div id = "passsent">
    <h3>Enter new password</h3>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    
    <form method="post">
    
        {% csrf_token %}
        {{form.as_p}}
        <input type="Submit" name="Update Password" class="btn btn-success">
        
    </form>
 </div>
</body>
</html>


{% endblock %}