{% extends 'accounts/main.html'%}
{%load static%}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Total Products: {{total_product}}</h5>
            <div>
             <a class="btn btn-primary" width = 50px href="{% url 'create_product' %}">Create Product</a>
            </div>
        </div>
        <br>

        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>₹{{product.price|floatformat:2}}</td>
                        <td><a class="btn btn-primary" href="{% url 'update_product' product.id %}">Update</a></td>
                        <td><a class="btn btn-danger" href="{% url 'delete_product' product.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</div>


{% endblock %}